@model DaysProject5.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<script>
function deletefunction(id) {
        $.ajax({
            url: "@Url.Action("DeleteConfirmed", "Movies")",
            type: 'POST',
            data: { id: id },
            success: function (result) {
                alert("Success");
            }
            });
};

</script>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekendRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekendRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recommended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recommended)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" onclick="deletefunction(@Model.ID)"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
